style{
    max-width:100%
}
body {
    font-size: 20px;
    border: 1px solid black;
    padding: 5x;
    font-weight: 100px;
}
.p{
    font-size: 20px;
    margin-left: 30px;
    margin-bottom: 10px;
    margin-top: 10px

}
